PyYAML==3.10
ipython==0.13.1
mock==1.0.1
nltk==2.0.4
nose==1.2.1
numpy==1.6.2
pandas==0.10.0
pymongo==2.4.1
python-dateutil==2.1
pytz==2012j
pyzmq==2.2.0.1
requests==0.14.2
six==1.2.0
tornado==2.4.1
wsgiref==0.1.2
